
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fixedwidth {
  width: 800px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

#header {
  padding: 10px 0;
  border-bottom: 1px solid #EEE;
}

#header h1 {
  font-size: 2em;
}

#header a {
  color: #333;
}

#breadcrumbs {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EEE));
  border-bottom: 1px solid #DDD;
}

#breadcrumbs a,
#breadcrumbs .title {
  padding: 10px 10px;
  border-left: 1px solid #FFF;
  border-right: 1px solid #EEE;
  text-decoration: none;
  display: block;
  color: #666;
  text-shadow: rgba(255, 255, 255, 1) 1px -1px 0px;
}


#breadcrumbs .title {
  border-right: none;
  color: #AAA;
}

#breadcrumbs a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#EEE));
}

#breadcrumbs a:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FAFAFA));
}

#breadcrumbs ul li {
  float: left;
}

#breadcrumbs .fixedwidth {
  border-left: 1px solid #EEE;
}

.four0four {
  margin-top: 20px;
}

.four0four h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #666;
}

.four0four .video {
  width: 600px;
  margin-left: 100px;
}

.four0four .explanation {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}
