[submodule "thirdparty/JSONKit"]
	path = thirdparty/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "thirdparty/AFNetworking"]
	path = thirdparty/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
