.background {
  background-color: #aaaaaa;
}

.noticeBox {
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 20px;
  border: none;
  width: -300px;
  height: -400px;
  top: 10px;
  -mobile-halign: center;
}

.rightMiddleLabel
{
  width: auto;
  height: auto;
  -mobile-valign: middle;
  -mobile-halign: right;
}

.bottomLabel
{
  width: auto;
  height: auto;
  bottom: 0px;
}

#TestButton {
  left: 10px;
  -mobile-valign: middle;
  width: 200px;
  border-radius: 20px;
}

UIButton
{
  color: white;
  text-shadow: rgba(0,0,0,.9) 2px 2px;
  background-image: url("btn_blue_active");
  -mobile-background-stretch: 0 20px 0 20px;
  height: 77px;
}

UIButton:disabled
{
  color: black;
}

UIButton:selected
{
  color: blue;
}

UIButton:highlighted
{
  color: green;
}

#box1 {
  background-color: white;
  bottom: 180px;
  -mobile-halign: center;
}

#box2 {
  background-color: green;
  -mobile-relative: #box1;
  margin-top: 0;
  margin-right: 0;
}

#box3 {
  background-color: orange;
  -mobile-relative: #box1;
  margin-top: 0;
  margin-left: 0;
}

#box4 {
  background-color: purple;
  -mobile-relative: #box1;
  margin-left: auto;
  margin-top: 20px;
}

#box5 {
  background-color: black;
  -mobile-relative: #box4;
  margin-left: -50%;
  margin-top: -50%;
}

#box6 {
  background-color: brown;
  -mobile-relative: #box4;
  margin-right: -50%;
  margin-top: -50%;
}
#box7 {
  background-color: blue;
  -mobile-relative: #box1;
  margin-top: 0;
  margin-left: auto;
}
