
UINavigationBar {
  -ios-tint-color: orange;
}

.background {
  background-color: blue;
}

.noticeBox {
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 20px;
  border: none;
  width: -300px;
  height: -400px;
  top: 10px;
  -ios-halign: center;
}

UIActivityIndicatorView {
  -ios-activity-indicator-style: white-large;
  -ios-autoresizing: left right bottom;
}

UILabel {
  -ios-autoresizing: left right height width;
  background-color: clear;
  -ios-number-of-lines: 0;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1;
  text-align: center;
  font-size: 17;
}

.rightMiddleLabel
{
  width: auto;
  height: auto;
  -ios-valign: middle;
  -ios-halign: right;
}

.bottomLabel
{
  width: auto;
  height: auto;
  bottom: 0px;
}