
UINavigationBar {
  -ios-tint-color: orange;
}

.background {
  background-color: blue;
}

.noticeBox {
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 10px;
  border: none;
}

UIActivityIndicatorView {
  -ios-activity-indicator-style: white-large;
  -ios-autoresizing: left right bottom;
}

UILabel {
  -ios-autoresizing: left right height width;
  background-color: clear;
  -ios-number-of-lines: 0;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1;
  text-align: center;
  font-size: 17;
}
