<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.nimbus.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PROJECTNAMEASIDENTIFIER____Prefix.pch</key>
		<dict>
			<key>Path</key>
			<string>src/___PROJECTNAMEASIDENTIFIER____Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>src/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>src/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/AppDelegate.m</string>
		</dict>
		<key>src/main.m</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/main.m</string>
		</dict>
		<key>nimbus</key>
		<dict>
			<key>Group</key>
			<string>Nimbus</string>
		</dict>
		<key>resources/___PROJECTNAMEASIDENTIFIER___-Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>resources/___PROJECTNAMEASIDENTIFIER___-Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Description</key>
	<string>This is a simple skeleton application licensed under the Apache 2.0 open source license. It programmatically sets up the UIWindow, does not use nibs, and only has one entry point for both the iPhone and iPad.</string>
	<key>Identifier</key>
	<string>com.nimbus.skeletonApplicationApache2</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>src/___PROJECTNAMEASIDENTIFIER____Prefix.pch</string>
		<string>src/AppDelegate.h</string>
		<string>src/AppDelegate.m</string>
		<string>src/main.m</string>
		<string>resources/___PROJECTNAMEASIDENTIFIER___-Info.plist</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
		</dict>
	</dict>
</dict>
</plist>
