.pickerCell {
    background-color: rgba(32, 32, 32, 0.5);
    border-radius: 10px;
    border: none;
}

UILabel {
    background-color: clear;
    -ios-number-of-lines: 0;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1;
    text-align: center;
    font-size: 17;
}
